# Este arquivo define revisores obrigatórios para determinados arquivos.
# Para mais informações, ver https://help.github.com/articles/about-codeowners/

*                                 @vindi/suporte-tecnico
readme.txt                        @laerte-guimaraes
vindi.php                         @laerte-guimaraes
src/utils/DefinitionVariables.php @laerte-guimaraes
